@model OhbPortal.Web.ViewModels.DokumentBearbeitenViewModel
@{
    ViewData["Title"] = "Dokument bearbeiten";
}

<form asp-action="Bearbeiten" asp-route-id="@Model.Id" method="post" id="dokument-form">
    @await Html.PartialAsync("_Form", Model)
</form>
