@model OhbPortal.Web.ViewModels.DokumentBearbeitenViewModel
@{
    ViewData["Title"] = "Neues Dokument";
    ViewData["CompactSidebar"] = true;
}

<form asp-action="Neu" method="post" id="dokument-form">
    @await Html.PartialAsync("_Form", Model)
</form>
